/* Resets */
* {
  box-sizing: border-box;
}

/* Username and difficulty */
#un label {
  display: block;
}
#diff label {
  display: block;
}

/* Timer */
#game {
  position: relative;
}
#timer {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0.5rem;
  border: 1px solid #000;
  width: 2rem;
  height: 2rem;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

/* Game table */
#table {
  display: grid;
  gap: 10px;
}
#table.easy {
  grid-template-columns: repeat(4, 1fr);
}
#table.medium {
  grid-template-columns: repeat(6, 1fr);
}
#table.hard {
  grid-template-columns: repeat(8, 1fr);
}
#table.expert {
  grid-template-columns: repeat(10, 1fr);
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Flip effect */
#table {
  perspective: 1000px;
}

.card {
  position: relative;
  padding-top: 100%;
  transform-style: preserve-3d;
  transition: transform 0.7s;
}
.front,
.back {
  backface-visibility: hidden;
}

.card.flip {
  transform: rotateY(180deg);
}

.front {
  transform: rotateY(180deg);
}

/* Leaderboard */
#btnDiffs {
  overflow: hidden;
  margin: 0.5rem 0;
}
#leaderboard input[type="button"] {
  float: left;
  width: 50%;
}
#leaderboard table{
  border-collapse: collapse;
  width: 100%;
}
#leaderboard tr th {
  border: 1px solid #000;
  height: 2rem;
}
#leaderboard tr td {
  border: 1px solid #000;
  height: 2rem;
  
}

/* Responsivenes */
/* Mobile */

/* Tablet */
@media only screen and (min-width: 600px) {
  #un label {
    display: inline-block;
  }
  #diff label {
    display: inline-block;
  }
  #leaderboard input[type="button"] {
    width: 25%;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  body>div {
    overflow: hidden;
  }
  
  *[class*=col] {
    float: left;
    overflow: hidden;
  }
}
