/* Resets */
* {
  box-sizing: border-box;
}

/* Username and difficulty */
div#un label {
  display: block;
}
div#diff label {
  display: block;
}

/* Game table */
div#table {
  display: grid;
  gap: 10px;
  /* width: 400px; */
}
div#table.easy {
  grid-template-columns: repeat(4, 1fr);
}
div#table.medium {
  grid-template-columns: repeat(6, 1fr);
}
div#table.hard {
  grid-template-columns: repeat(8, 1fr);
}
div#table.expert {
  grid-template-columns: repeat(10, 1fr);
}

div#table div.card{
  position: relative;
  padding-top: 100%;
}

img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Leaderboard */
div#leaderboard input[type="button"] {
  float: left;
  width: 50%;
}

div#leaderboard table{
  border-collapse: collapse;
  width: 100%;
}
div#leaderboard tr th {
  border: 1px solid #000;
  height: 2rem;
}
div#leaderboard tr td {
  border: 1px solid #000;
  height: 2rem;
  
}

/* Responsivenes */
/* Mobile */

/* Tablet */
@media only screen and (min-width: 600px) {
  div#un label {
    display: inline-block;
  }
  div#diff label {
    display: inline-block;
  }
  div#leaderboard input[type="button"] {
    width: 25%;
  }
}

/* Desktop */
@media only screen and (min-width: 900px) {
  body>div {
    overflow: hidden;
  }
  
  *[class*=col] {
    float: left;
    overflow: hidden;
  }
}
